.articulo1{
    margin-left: 16px;
    margin-right: 19px;
    color:#060A24;
    .titulo1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 32px;
        .ts1{
            text-decoration:line-through;                
        }
        .ts2{
            display:block;
        }
    }

    .texto1{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        margin-top:16px;
        text-align: justify;
        height: 66px;  
        .textp1, .textp4, .textp5{
            display: none;
        }                   
    }

    .boton1{
        width: 100%;
        height: 48px;
        background-color: #00F3BB;
        font-family: 'IBMPlexMono-Medium', monospace;
        font-size: 16px;
        margin-top: 36px;
        margin-bottom: 24px;
        border: none; 
        text-transform: uppercase;
    }   
}

@media  screen and (min-width: 768px) {
    .ts2{
        display:inline-block !important; 
    }
    
    .texto1{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        text-align: justify;
        height: 66px;  
        .textp1, .textp4, .textp5{
            display: initial !important;
        }
        .textp2, .coma{
            display: none;
        }
        .textsl{
            display:block;
        }
    }

    .boton1{        
        margin-top: 46px;
        margin-bottom: 14px;       
    }
}
  
@media screen and (min-width: 992px) {
    .articulo1{
        margin-left: 100px;
        .titulo1{
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 64px;
            margin-top: 120px;
            .ts1{
                text-decoration:line-through;                
            } 
                                
        }

        .boton1{
            width: 226px;
            height: 56px;
            background-color: #00F3BB;
            font-family: 'IBMPlexMono-Medium', monospace;
            font-size: 18px;
            margin-top: 56px;
            margin-bottom: 5px;
            border: none;  
            text-transform: uppercase;
        } 
    }
}
  
@media screen and (min-width: 1200px) {
    .articulo1{
        margin-left: 200px;        
    }    
}
