.fondo {
  width: 100%;
  margin: 0;
  height: 1203.5px;
  border: 3px solid white;
  background: repeating-linear-gradient(
    -190.5deg,
    white 0,
    white 5%,
    #0000ff 5%,
    #0000a3 75.5%,
    white 75.5%,
    white 100%
  );
}

.titulo2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 42px;
  color: #ffffff;
  margin-top: 64px;
  margin-left: 16px;
  margin-bottom: 21px;
}

.imagenes1 {
  padding-left: 9.75px;
  padding-right: 9.75px;
}

iframe {
  border:none;
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;
  .img-phone {
    margin-top: 37px;
    height: 519px;
    z-index:100px;
  }
}

.subtitulo {
  
  margin-right: 19px;
  .titulo-2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    margin-top: 27px;
    margin-bottom: 8px;
  }
  .texto2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060a24;
  }
  #t3 {
    margin-top: 1em;
  }
}

@media screen and (min-width: 768px) {
  .fondo {
    background: repeating-linear-gradient(
      -190.5deg,
      white 0,
      white 11%,
      #0000ff 11%,
      #0000a3 55.5%,
      white 55.5%,
      white 100%
    );
  }

  .titulo2 {
    margin-top: 171px;
  }
  .img-principal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  iframe {
    width: 45% !important;
    align-items: center;
  }
  .phone {
    display: inline-block;
    justify-content: start;
    width: 45%;
    .img-phone {
      margin-left: 25px;
      margin-top: 47px;
    }
  }
  .subtitulo {
    display: inline-block;
    position: absolute;
    margin-top: 103px;
    width: 364px;
  }
}

@media screen and (min-width: 992px) {
  .fondo {
    background: repeating-linear-gradient(
      -190.5deg,
      white 0,
      white 13%,
      #0000ff 13%,
      #0000a3 55.5%,
      white 55.5%,
      white 100%
    );
  }
  .titulo2 {
    margin-top: 181px;
    margin-left: 100px;
  }
  iframe {
    width: 40% !important;
    
  }
  .img-phone {
    padding-left: 30px;
    margin-top: 57px;
  }
}

@media screen and (min-width: 1200px) {
  .fondo {
    background: repeating-linear-gradient(
      -190.5deg,
      white 0,
      white 16.5%,
      #0000ff 16.5%,
      #0000a3 57.5%,
      white 57.5%,
      white 100%
    );
  }
  .titulo2 {
    margin-top: 186px;
    margin-left: 200px;
  }
  iframe {
    width: 35% !important;
    
  }
  .img-phone {
    padding-left: 130px;
    margin-top: 87px !important;
  }
  .subtitulo {
    margin-top: 153px;
    width: 464px;
  }
}

@media screen and (min-width: 1325px) {
  .fondo {
    background: repeating-linear-gradient(
      -190.5deg,
      white 0,
      white 17.5%,
      #0000ff 17.5%,
      #0000a3 60.5%,
      white 60.5%,
      white 100%
    );
    .titulo2 {
      margin-top: 226px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .fondo {
    background: repeating-linear-gradient(
      -190.5deg,
      white 0,
      white 18.5%,
      #0000ff 18.5%,
      #0000a3 64.5%,
      white 64.5%,
      white 100%
    );
  }
  
  iframe{
    height: 180px;
  }
  .imagenes1{
    margin-top:20px;
   
  }
  .titulo2 {
    margin-top: 256px !important;
    margin-left: 200px;
    font-size: 48px;
  }
  .subtitulo {
    margin-top: 153px;
    width: 464px;
    .titulo-2 {
      
      font-size: 48px;
     
    }
    .texto2 {
      
      font-size: 16px;
      
    }
    
  }
  
}
